<template>
  <div>
    <v-btn>Hello</v-btn>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'Tech News'
    }
  },
  layout: 'tech_news',
  head () {
    return {
      title: this.title
    }
  }
}
</script>

<style>

</style>
