<template>
  <div>
      <b-container fluid>
        <b-row class="header-title">
          <b-col cols="8" class="d-flex">
            <div class="ml-4 mr-3">
              <p class="my-3 f-12 font-weight-bold">
                <i class="fa fa-calendar fa-sm mr-1 text-danger"></i>
                28.Novenber.2018
              </p>
            </div>
            <div>
              <p class="my-3 f-12 font-weight-bold">
                <i class="fa fa-cloud fa-sm mr-1 text-danger"></i>
                Cambodia 15c<sup>o</sup>
              </p>
            </div>
          </b-col>
          <b-col class="d-flex justify-content-end mr-4">
            <div class="ml-4 mr-3">
              <p class="my-3 f-12 font-weight-bold">
                <i class="fa fa-newspaper-o fa-sm mr-1 text-danger"></i>
                ABOUT
              </p>
            </div>
            <div class="mr-3">
              <p class="my-3 f-12 font-weight-bold">
                <i class="fa fa-heart-o fa-sm mr-1 text-danger"></i>
                LIKE US
              </p>
            </div>
            <div>
              <p class="my-3 f-12 font-weight-bold">
                <i class="fa fa-envelope-open-o fa-sm mr-1 text-danger"></i>
                CONTACT
              </p>
            </div>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="12">
            <h3 class="ml-4">LOGO</h3>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="12">
            <div class="d-flex justify-content-between mx-4 head-wrap-icon-social pt-2">
              <div>
                <ul class="head-menu">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Technologies</a></li>
                  <li><a href="#">Sports</a></li>
                  <li><a href="#">Learning</a></li>
                  <li><a href="#">Others</a></li>
                </ul>
              </div>
              <div class="d-flex wrapper-icon-social">
                <div class="child">
                    <span><i class="f-17 icon-social-facebook icons font-2xl d-block mr-1 text-danger"></i></span>
                </div>
                <div class="child">
                    <span><i class="f-17 icon-social-twitter icons font-2xl d-block mr-1 text-danger"></i></span>
                </div>
                <div class="child">
                    <span><i class="f-17 icon-social-instagram icons font-2xl d-block mr-1 text-danger"></i></span>
                </div>
                <div class="child">
                    <span><i class="f-17 icon-social-linkedin icons font-2xl d-block mr-1 text-danger"></i></span>
                </div>
                <div class="child">
                    <span><i class="f-17 icon-social-reddit icons font-2xl d-block mr-1 text-danger"></i></span>
                </div>
                <div class="head-btn-search">
                    <span><i class="f-17 icon-magnifier icons font-2xl d-block mr-4 text-danger"></i></span>
                </div>
              </div>
            </div>
          </b-col>
        </b-row>
      </b-container>
      <div>
        <nuxt />
      </div>
      <div>footer</div>
  </div>
</template>

<script>
export default {
  head () {
    return {
      link: [
        { rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Merriweather' }
      ]
    }
  }
}
</script>


<style>
  body {
    background-color: white;
    font-family: 'Merriweather', serif;
  }
  .f-12 {
    font-size: 12px !important;
  }
  .f-17 {
    font-size: 17px !important;
  }
  .header-title {
    background-color: #eae8e8;
  }
  .wrapper-icon-social div {
    padding: 0.45em;
    border-radius: 15px;
    height: 30px;
    width: 30px;
    transition: all ease-out 1.0s;
    margin-left: 3px;
    cursor: pointer;
  }
  .wrapper-icon-social div.child:hover{
    background-color: red;
  }
  .wrapper-icon-social div.child:hover span i {
    color: white !important;
  }
  .head-btn-search {
    padding: 0.45em;
    border-radius: 15px;
    height: 30px;
    width: 30px;
    margin-left: 3px;
    cursor: pointer;
    background-color: whitesmoke;
  }
  .head-btn-search span i{
    font-weight: bold;
    color: black !important;
  }
  .head-btn-search:hover {
    transition: all ease-out 0.1s;
    box-shadow: 1px 1px 2px black;
    -webkit-box-shadow: 1px 1px 2px black;
    -moz-box-shadow: 1px 1px 2px black;
  }
  .head-wrap-icon-social {
    border-top: 1px solid #eae8e8;
  }
  .head-menu {
    list-style: none;
    display: flex;
    padding-left: 0;
  }
  .head-menu > li {
    padding-right: 10px;
    font-size: 16px;
    padding-left: 11px;
  }
  .head-menu > li > a{
    color: #a5a0a0 !important;
  }
</style>
